h1{
          text-align:center;
          color: #fff;
        }

        footer {
          padding: 1em;
          color: white;
          clear: left;
          text-align: center;
          clear: both;
          margin-bottom: 0;
        } 
    
        figure { 
          height: 140px;
          width: 140px; 
          margin: 2px;
          padding: 2px;
          border: 1px;
          float: left; 
          -webkit-transition: all 0.7s ease; 
          -moz-transition: all 1s ease;
          position: relative;
        }

        figcaption { 
          text-align: center; 
          display: block;
          background: #ff8300; 
          font-size: 8px; 
          font-style: italic; 
          text-align: center; 
          color: white;
        }

        .allimages .figcaption{
          visibility: hidden;
          opacity: 0;
        }

        .allimages:hover .figcaption{
          visibility: hidden;
          opacity: 0;
        }

        figure img { 
          width: 100%; 
        }

        figure:hover {
            -webkit-transform: rotate(720deg); -moz-transform: rotate(-360deg);        
        }

        figure:active {
            outline: none;
            
            -webkit-transform: scale(2.5); 
            -moz-transform: scale(2.5);
            -webkit-box-shadow: 10px 10px 2px #000; -moz-box-shadow: 10px 10px 2px #ff8300;
            z-index: 9999;
        }

        figure:focus {
            outline: none;
            -webkit-transform: scale(1.5); 
            -moz-transform: scale(1.5);
            -webkit-box-shadow: 10px 10px 2px #000; -moz-box-shadow: 10px 10px 2px #ff8300;
            z-index: 9999;
        }